*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

header {
  width: 43rem;
  height: 7.2rem;
  padding: 12px 28px;
  align-items: center;
  gap: 2.5rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  background: rgb(51,45,144);
background: linear-gradient(90deg, rgba(51,45,144,0.7371323529411764) 21%, rgba(107,72,144,0.4542191876750701) 39%, rgba(127,77,160,0.6054796918767507) 70%);
  /*
  background: rgb(88,63,251);
  background: radial-gradient(circle, rgba(88,63,251,0.639093137254902) 0%, rgba(169,96,232,0.3085609243697479) 100%);
  */
  color: white;
}

header .logo{
  padding: 1.6rem 2.6rem;
}

header form{
  flex: 1;
}

.photo{
width: 4.2rem;
height: 4.2rem;
border-radius: 99.9rem;
}

.photo:hover{
  filter: saturate(2);
  transform: scale(2.1) rotate(-2deg);
}

input{
display: flex;
padding: 12px 16px 12px 14px;
align-items: center;
gap: 12px;
flex: 1 0 0;
border-radius: 4px;
background: rgba(255, 255, 255, 0.52);
border: none;
}

.input-wrapper label{
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.input-wrapper input{
  color: aliceblue;
  font-weight: 600;

}

.input-wrapper input::placeholder{
  color: rgba(15, 15, 40, 0.494);
  font-weight: bold;

}


 main .deitada{
  width: 434px;
height: 219px;
margin-bottom: 3.1rem;
object-fit: cover;
 }

 main .deitada:hover{
  filter: saturate(1.5);
  transform: scale(1.1) rotate(-2deg);
 }

 .icones{
  display: flex;
  margin-top: .8rem;
  gap: 1.2rem;
  margin-left: 2.2rem;
 }


 main h1{
  margin-left: 2.2rem;
 }
 
 p{
color: var(--platform-aliases-background, #121214);
font-family: Mulish;
font-size: 1.6rem;
font-weight: 400;
line-height: 160%;
margin-top: 3.1rem;
padding-left: 2.2rem;
 }

 .item img{
  width: auto;
  max-height: 10rem;
  aspect-ratio: 16/9;
  object-fit:cover;
  border-radius: .5rem;
  margin-left: 2.2rem;
  margin-bottom: 3.2rem;

 }
 .item img:hover{
 filter: saturate(2);
 transform: scale(1.1) rotate(-2deg);
 }

 sidebar h1{
  margin-top: 3.4rem;
  margin-bottom: 3.2rem;
  margin-left: 2.2rem;
 }

 figure{
  display: flex;
  gap:1.6rem;
  color: var(--platform-aliases-background, #121214);
 }


footer p{
  background: hsla(254, 34%, 26%, 0.467);
  display: flex;
  width: 430px;
  height: 64px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  background: rgb(8,11,156);
background: linear-gradient(0deg, rgba(8,11,156,0.34217436974789917) 0%, rgba(119,79,156,0.3085609243697479) 100%);
font-family: 'Mulish', sans-serif;
}


.tags span{
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  
}

.details{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  text-align:left;
  width: 100%;
  

}

.details > h2:nth-child(1){
  margin-top: 0;

}

header{
  --startY:-100%;
  animation-name: move;
  animation-duration: 2s;
  

}

footer{
--startY:100%;
animation-name: move;
animation-duration: 2s;
}





@keyframes move{
  0%{
    transform: translateY(var(--startY));

  }

  100%{

  }
}


@media (min-width:500px){


  #app{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main sidebar"
    "footer footer footer";

    height: 109rem;
    width: auto;
    
  }

  #app header{
    grid-area: header;
  }

  #app main{
    grid-area: main;
  }

  #app sidebar{
    grid-area: sidebar;
  }

  #app footer{
    grid-area: footer;
  }
  
  header{
    width: 100%;
  }

  header input{
    width: 100rem;
  }

  header .photo{
    margin-right: 12rem;
    margin-left: 2.5rem;
    
  }

  main .deitada{
    width: 100%;
    height: 40rem;
    padding-top: 4.4rem;
    padding-right: 3.4rem;
    padding-left: 2.2rem;
    padding-bottom: 3rem;
    border-radius: 10rem;
    
  }

  footer p{
    width: 100%;
  }

}